/* About.module.scss */

.sectionSubText {
	font-size: 14px;
	color: #1e502a;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.sectionHeadText {
	font-size: 40px;
	font-weight: 900;
	color: black;
}

.paragraph {
	margin-top: 1rem;
	color: #1e502a;
	font-size: 17px;
	max-width: 768px;
	line-height: 30px;
}

.serviceWrapper {
	margin-top: 5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem;
	justify-content: center;
}

.tilt {
	width: 100%;

	@media (min-width: 480px) {
		width: 250px;
	}
}

.cardOuter {
	width: 100%;
	background: linear-gradient(135deg, #90ffc9, #ffadda);
	padding: 1px;
	border-radius: 20px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.cardInner {
	border-radius: 20px;
	padding: 1.25rem 3rem;
	min-height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.cardIcon {
	width: 5rem;
	height: 5rem;
	object-fit: contain;
}

.cardTitle {
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
