.heroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.heroContainer {
  position: absolute;
  inset: 0;
  top: 120px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding-left: 24px;
  padding-right: 24px;

  @media (min-width: 640px) {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.decorator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background-color: #59e97a;
}

.violetLine {
  width: 4px;
  height: 160px;
  background: linear-gradient(to bottom, #59e97a, transparent);

  @media (min-width: 640px) {
    height: 320px;
  }
}

.heroHeadText {
  font-weight: 900;
  color: white;
  margin-top: 8px;
  font-size: 40px;
  line-height: 48px;

  @media (min-width: 480px) {
    font-size: 50px;
  }

  @media (min-width: 640px) {
    font-size: 60px;
  }

  @media (min-width: 1024px) {
    font-size: 80px;
    line-height: 98px;
  }
}

.mainText {
  color: #59e97a;
}

.heroSubText {
  color: #1e502a;
  font-weight: 500;
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: 480px) {
    font-size: 20px;
  }

  @media (min-width: 640px) {
    font-size: 26px;
  }

  @media (min-width: 1024px) {
    font-size: 30px;
    line-height: 40px;
  }
}

.break {
  display: none;

  @media (min-width: 640px) {
    display: block;
  }
}

.heroAnimation {
  position: absolute;
  top: clamp(180px, 30vh, 350px);
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  pointer-events: none; // 애니메이션이 클릭을 방해하지 않도록
  z-index: 0;
  opacity: 0.9;

  @media (min-width: 640px) {
    width: 80%;
    height: 80%;
  }

  @media (min-width: 1024px) {
    width: 70%;
    height: 70%;
  }
}

.scrollContainer {
  position: absolute;
  bottom: 128px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 640px) {
    bottom: 40px;
  }
}

.scrollBox {
  width: 35px;
  height: 64px;
  border-radius: 24px;
  border: 4px solid #25e953;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
}

.scrollDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #25e953;
  margin-bottom: 4px;
}
